* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Hubungi, Logo, Navbar start */
.container .row .col-sm-12 .hubungi {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  margin: 0 2rem;
}

.container .row .col-sm-12 .hubungi a {
  margin: 0 1px;
  color: white;
}

.container .row .col-sm-12 .hubungi .no-hp {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.container .row .col-sm-12 .hubungi .fa-phone {
  font-size: 18px;
}

.container .row .col-sm-12 .sosmed {
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  margin: 0 2rem;
}

.container .row .col-sm-12 .sosmed a {
  margin: 0 5px;
  color: white;
}

.container .row .col-sm-12 .sosmed a:hover {
  color: #d6d6d6;
}

.container .row .logo {
  font-family: "Montserrat", sans-serif;
  padding: 1rem 1rem 0.4rem;
}

.container .row .logo a {
  text-decoration: none;
}

.container .row .logo h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

.container .row .logo h3 span {
  color: rgb(255, 166, 0);
}

.container .row .gambar {
  margin: 0 1rem;
}

.container .row .gambar a {
  color: black;
  font-size: 3rem;
}

.container .row .head {
  border-bottom: 3px solid rgb(201, 0, 0);
}

.container .row .head .nav {
  margin: 0 1rem;
}

.container .row .head ul li a {
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
}

.container .row .head ul li a:hover {
  background-color: rgb(201, 0, 0);
}

.container .row .head .dropdown-menu {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgba(190, 190, 190, 0.3);
}

.container .row .head .dropdown-item {
  color: black;
}

#menu {
  display: none;
}

.container .row .head .menu {
  margin: 0 2rem;
}

.container .row .head .menu a {
  color: white;
  font-size: 1.4rem;
}
/* Hubungi, Logo, Navbar end */

/* Navbar Baru di 768px */
.container .row .navbar {
  display: none;
}

.container-fluid a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

.container-fluid a span {
  color: rgb(255, 166, 0);
}

/* Hero Section start */
.hero {
  min-height: 100vh;
}

.container .row .col-sm-12 .hero .gambar-slide .gambar-img-slide {
  width: 100%;
  height: 400px;
}

.container .row .col-sm-12 .hero .gambar-slide .gambar-img-slide img {
  background-size: cover;
  background-position: center;
}

.container .row .hero h2 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}

.container .row .hero .card {
  border: 2px solid rgb(255, 166, 0);
}
/* Hero Section End */

/* Footer */

/* Media Queries */

/* Tablet */
@media (max-width: 768px) {
  #menu {
    display: inline-block;
  }

  .container .row .head {
    display: none;
  }

  .container .row .navbar {
    display: flex;
  }

  .container .row .logo h3 {
    display: none;
  }

  .container .row .gambar {
    margin: auto;
  }
}

/* Handphone */
@media (max-width: 768px) {
  .container .row .col-sm-12 .hubungi,
  .container .row .col-sm-12 .sosmed {
    margin: 0 0.5rem;
  }
}
